{% extends 'index.html' %}

{% block subtitle %} : about {% endblock %}

{% block page_head %}
<link type="text/css" href="/static/css/about.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class = 'container'>
	<div class = 'shadowlight contentblock'>
		<h3>About us</h3>
		<hr>
		
		<h4>What is this?</h4>
		<br>
		
		<div style="text-align:center">
			<img src = 'https://twimg0-a.akamaihd.net/profile_images/2325704772/wrrmef61i6jl91kwkmzq.png' width="100" height="100">
			&nbsp vs &nbsp
			<img src = 'https://twimg0-a.akamaihd.net/profile_images/2624978379/chw1hdzozfdew973pvjr.png' width="100" height="100">
			&nbsp on &nbsp
			<img src = 'https://twimg0-a.akamaihd.net/profile_images/2284174758/v65oai7fxn47qv9nectx.png' width="100" height="100">
			<br>
			<br>

		</div>
		<p>A traditional poll surveys few thousand people over several days. With social media, we could engage millions of people in hours. What could we learn from the wisdom of the crowd?</p>
		<p>So We monitor the 2012 Presidential election on Twitter. Currently, we are tracking:</p>
		<ul>
			<li> How many times each candidate is mentioned on each day in each state?</li>
			<li> What topics people are tweeting about when they mention a candidate?</li>
			<li> Latest election news from Twitter users?</li>
			<li> The nation-wide publicity of each candidate?</li>
		</ul>
		
		<p> 
			We follow approximately ten million active American Twitter users.
			These users are filtered based on their locations and connections. 
			Thus we could remove most irrelevant tweets from spam-bots or foreign countries. 
			A large set of keywords is used to track election-related tweets, and as of Oct 9th, there are over 60 million tweets since Jan 1st, 2012.			
			Of course, with such amount of data, there are a lot more analyses that could be done. Suggestions are most welcome. 
		</p>
		<hr>
		
		<h4>Who made it?</h4>
		<br>
		
		<div class = 'container-fluid'>
			<div class="row-fluid">
				<div class="span1">
					<a href="http://www.twitter.com/zhangkangj" target="_blank"> 
						<img src="https://twimg0-a.akamaihd.net/sticky/default_profile_images/default_profile_5_reasonably_small.png"> 
					</a>
				</div>
				<div class="span10">
					<strong class="fullname js-action-profile-name show-popup-with-id"> Kang Zhang</strong>
					<span>@zhangkangj</span>
					<p>A data-miner laboriously digging Twitter at MIT.</p>
				</div>
			</div>
		</div>
		
		<br>

		<div class = 'container-fluid'>
			<div class="row-fluid">
				<div class="span1">
					<a href="http://www.twitter.com/flyboys3000" target="_blank"> 
						<img src="https://twimg0-a.akamaihd.net/sticky/default_profile_images/default_profile_4_reasonably_small.png"> 
					</a>
				</div>
				<div class="span10">
					<strong class="fullname js-action-profile-name show-popup-with-id">Kuan Chen</strong>
					<span>@flyboys3000</span>
					<p>Chief Research Oldman waiting to get a Permanent Brain Damage at the University of Chicago.</p>
				</div>
			</div>
		</div>
		
		<br>
		
		<div class = 'container-fluid'>
			<div class="row-fluid">
				<div class="span1">
					<a href="http://www.twitter.com/falcondai" target="_blank"> 
						<img src="https://twimg0-a.akamaihd.net/profile_images/1302370331/IMG_5218a_reasonably_small.JPG"> 
					</a>
				</div>
				<div class="span10">
					<strong class="fullname js-action-profile-name show-popup-with-id">Falcon Dai</strong>
					<span>@falcondai</span>
					<p>A generalist programmer who took only one computer science class in his college years at the University of Chicago. </p>
				</div>
			</div>
		</div>
		
		<br>
		
		<div class = 'container-fluid'>
			<div class="row-fluid">
				<div class="span1">
					<a href="http://www.twitter.com/xunjie" target="_blank"> 
						<img src="https://twimg0-a.akamaihd.net/profile_images/1499356363/pic2_reasonably_small.jpg"> 
					</a>
				</div>
				<div class="span10">
					<strong class="fullname js-action-profile-name show-popup-with-id">Helen Li</strong>
					<span>@xunjie</span>
					<p>Student at MIT </p>
				</div>
			</div>
		</div>
		
		<hr>
		
		<h4>Behind The Scenes</h4>
		<p> We are grateful for people in the open source community who created great tools that made this project possible. Our appreciation goes to Ubuntu, OpenJDK-Java, Twitter4j, MySQL, Flask, d3js, Google chart tools, Bootstrap and many others we are not even aware of. </p>
	</div>
</div>	
{% endblock %}