{% extends 'index.html' %}

{% block subtitle %} : blog {% endblock %}

{% block page_head %}
<link type="text/css" href="/static/css/research.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id = "introduction" class = 'container'>
	<div class = 'shadowlight contentblock'>
		<h4>
			Twithinks Blog: An Introduction
		</h4>
		<hr>
	</div>
	<br><br>
	
	<div id = "big_data_diy" class = 'shadowlight contentblock'>
		<h4>
			Big Data DIY (for techies)
			<span class = "pull-right"> Oct 8, 2012</span>
		</h4>
		<hr>
		<p>
			In the era of cloud storage, scaling with Big Data is no longer hard. Hosting a few terabytes on AWS or Google is almost a standard procedure, only if you have the money to pay for the servers. But today we want to show that one could build a database system for Big Data even on a student budget.
		</p>
		<p>
			Here are some rough numbers about the volume of Twitter data we are dealing with:
		</p>
		<p>
			Tweets: 2TB and growing
			<br>
			Users, relations and other data: ~80GB
		</p>
		<p>
			In total there are billions of rows. They are stored on a single machine that costs ~3000 dollars. Here is some general experience:
		</p>
		
		<strong>Hardware</strong>
		<p>
			Of course, we have to build the hardware ourselves. Some specs: 32GB Rem, 2 x 128GB SSD on RAID 0, 4 x 3TB hard drives on RAID 10. There are three layers of storage: memory, SSD and HD, with increasing performance and cost. Surely we want to put the most frequently accessed data, such as table index and client-facing tables, on memory. We use SSD array for most non-volatile storage except for tweets. Tweets, usually sequentially scanned, conveniently reside on the HD array.	
		</p>
		
		<strong>Software</strong>
		<p>
			There are many database systems to choose from, but on a single node, the good old MySQL is probably the best choice. Putting a few billion rows in a table is not easy, but it could be done. The main problem is that you can't load the entire index into memory. We decide to "divide and conquer" and deployed a variety of tricks: partitioning, bulk loading, logging and sorting by index. They are implemented in Java as an optimization layer on top of MySQL.
		</p>
		
		<strong>Other Thoughts</strong>
		<p>
			Simple analysis like counting words or basic arithmetics can reveal tons of interesting facts from Big Data. But we just showed how much work needed to be done before we can get our hands dirty. For small data, tools like MS Excel abstract away most of low level implementations. We are looking forward to a generic, inexpensive and preferably open-sourced solution that works for Big Data.
		</p>
		<a href = "#introduction" class = "pull-right">back</a>
	</div>
	<br><br>
	
	<div id = "primary" class = 'shadowlight contentblock'>
		<h4>
			 Twitter Mention & Republican Primary
			<span class = "pull-right"> Oct 9, 2012</span>
		</h4>
		<hr>
		<p>
			To start with something simple, we look at the Twitter mention of the election candidates. It is surprising that even such a simple statistic reveals lots of insights.
			The following graph counts the Twitter mention of the word “Romney” on a daily basis during the Republican Primary. A few patterns to note:
		</p>
		<ul>
			<li>The spikes well matches with major events like the primary nights and televised debates. Interestingly, only CNN and FOX debates caused major spikes.</li>
			<li>Significant weekly periodicity of Twitter mention. People tweet more about election during weekdays (in office? in class? :D).</li>
			<li>If we ignore event-driven spikes, Romney is getting more mentions over time. Does this correlate with his odds of winning?</li>
		</ul>
		<img src = '/static/img/romney.png'><br><br>
		
		<p>
			Now let's look at the relative twitter mention of each candidate relative to one another. The next plot shows the republican primaries, a race among Romney, Santorum, Gingrich and Paul.
		</p>
		<p>
			Wow! The winner of each primaries tended to be the one with the greatest number of twitter mention or the strongest up-trend momentum. 
		</p>
		<p>
			At the first look, it might seem crazy that the noisy micro-blogosphere, in which people complain about overbaking their pancakes or brag about their vodka melon hangovers, has any predictive value on any significant event. More serious researchers will point out various biases, such as demographics, negative tweets, etc.
			However, on a second thought this might not be too bizarre an idea after all. Being mentioned a lot may be good or bad, depending on how favorable tweets are. But not being mentioned is certainly bad; that means no one cares about the candidate.
			Certainly, this won't explain away all the biases. The cause of this correlation is worth further investigation.			 
		</p>
		<img src = '/static/img/primary.png' style = 'text-align:center'><br>
		<a href = "#introduction" class = "pull-right">back</a>
	</div>
	<br><br>
	
	<div id = "presidential_race" class = 'shadowlight contentblock'>
		<h4>
			 Twitter Mention & Presidential Race
			<span class = "pull-right"> Oct 19, 2012</span>
		</h4>
		<hr>
		<p>Now that we have tested our muscle, we are ready to move on to the big game, the Presidential Election. Here is a simple plot of the percentage Twitter mention for the two candidates since January.</p>
		<img src = '/static/img/obama_romney.png' style = "width:900px;height:500px"><br>
		<p> 
		   Not surprisingly, Obama, as the incumbent President, receives way more mentions than Romney for most of the time. Nonetheless, there are a few spikes in Romney’s mention plot that is worth investigating.
		   What are some events that allow Romney to attain greater Twitter attention? Is it good for Romney? We wrote a program to help us identify some major events:
		</p>
		<ul>
			<li>On Apr 12, most of the discussion focused on the “stay-at-home-mom” comment by Hilary Rosen on Ann Romney. Here is a tweet supporting Ann: 
				<span style = "font-style:italic">"also disappointed in hilary rosen's comments about ann romney. they were inappropriate and offensive."</span>
				Of course, not all of them are defending Ann.
			</li>
			<li> On Jul 11, Romney spoke at NAACP and got booed, according to Twitter. </li>
			<li> On Jul 26, Romney attended the Olympic Opening Ceremony, sweating about his “Olympic gaffes”.</li>
			<li> On Aug 10, Romney picked Ryan as the running mate. The most retweeted post: “Really Romney?”</li>
		</ul>
		<p> Well, Twitter is full of interesting information, blended in sarcasm, humor and irony. It reminds me of a quote: </p>
		<p style = "font-style:italic;text-align:center">With the absence of the false, you have the truth and noise.</p>
		<a href = "#introduction" class = "pull-right">back</a>
	</div>
	<br><br>
	
	<div id = "track_romney" class = 'shadowlight contentblock'>
		<h4>
			Putting a GPS Tracker on Romney
			<span class = "pull-right"> Oct 20, 2012</span>
		</h4>
		<hr>
		
		<a href = "#introduction" class = "pull-right">back</a>
	</div>
	<br><br>
	
	<div id = "obama_economy" class = 'shadowlight contentblock'>
		<h4>
			Obama, Economy Huh?
			<span class = "pull-right"> Oct 21, 2012</span>
		</h4>
		<hr>
		
		<a href = "#introduction" class = "pull-right">back</a>
	</div>
	<br><br>
</div>
{% endblock %}