{% extends 'index.html' %}

{% block subtitle %} : blog {% endblock %}

{% block page_head %}
<link type="text/css" href="/static/css/research.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id = "introduction" class = 'container'>
	<div class = 'shadowlight contentblock'>
		<h4>
			Twithinks Blog: An Brief Introduction
		</h4>
		<hr>
		<p>
			We are a team of students and we have been playing with data we've gathered from Twitter for a while.
			Attracted by the hype around the 2012 Presidential Election, we wondered, what it would be like if the President were to be elected by Twitter users!
			We tried to see what we can find with some simple analysis, and discovered lots of things that were deeply interesting to us. We hope you find them interesting, too! 
			Please leave any comments/feedback you might have on <a href = "http://news.ycombinator.com/" target = "_blank">Hack News</a>.
		</p>
		<ul>
			<li><a href = "#big_data_diy" style = "font-weight:bold">Big Data DIY</a></li>
			<li><a href = "#primary" style = "font-weight:bold">Twitter Mention & Republican Primaries</a></li>
			<li><a href = "#presidential_race" style = "font-weight:bold">Twitter Mentions & the Presidential Race</a></li>
			<li><a href = "#track_romney" style = "font-weight:bold">Putting a GPS Tracker on Romney</a></li>
			<li><a href = "#obama_economy" style = "font-weight:bold">Obama, Economy, Huh?</a></li>
		</ul>
		<div class="pull-right" style = "margin-top:0px;" >
			<a href="https://twitter.com/share" style = "" class="twitter-share-button pull-right" data-lang="en" data-text = "twithinks, 2012 Presidential Election on Twitter" data-size="medium">Tweet</a>
			<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftwitwi.mit.edu%2F&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>					
		</div>
	</div>
	<br><br>
	
	<div id = "big_data_diy" class = 'shadowlight contentblock'>
		<h4>
			Big Data DIY (for techies)
			<span class = "pull-right"> Oct 8, 2012</span>
		</h4>
		<hr>
		<p>
			In the era of cloud storage and computing, scaling Big Data Analysis is really not that difficult. Hosting a few terabytes on AWS or Google is almost a standard procedure, only if you have the money to pay for the servers. But today we want to show that you can build a database system for Big Data even on a student budget.
		</p>
		<p>
			Here are some rough numbers about the volume of Twitter data we have been dealing with:
		</p>
		<p>
			Tweets: 2TB and growing
			<br>
			Users, relations and other data: ~80GB
		</p>
		<p>
			In total, there are billions of rows. They are stored on a single machine that costs only about ~3000 dollars. Here is some general experience:
		</p>
		
		<strong>Hardware</strong>
		<p>
			We've of course had to put together the hardware ourselves. The specs of the machine we use are: 

			32GB Rem, 2 x 128GB SSD on RAID 0, 4 x 3TB hard drives on RAID 10. 

			There are three layers of storage: memory, SSD and HDD, with decreasing performance and costs. We've of course wanted to put the most frequently accessed data, such as database table indices and our client-facing data, on memory. We used our SSD array for most non-volatile storage except for tweets. Tweets, which are usually sequentially scanned, conveniently reside on the HDD array.
		</p>
		
		<strong>Software</strong>
		<p>
			There are many database systems to choose from, but on a single node, good old MySQL is probably the best choice. Putting a few billion rows in a table usually hogs it down and the main bottleneck is that you can't load the entire index into memory. We decided to "divide and conquer" and deployed a variety of tricks: partitioning, bulk loading, logging and sorting by index. They are implemented in Java as an optimization layer on top of MySQL. The chart below shows how the system works as a whole.
		</p>
		
		<img src = '/static/img/system.png' style = "margin-left:150px"><br>
	
		<a href = "#introduction" class = "pull-right">back</a>
		<a href = "http://news.ycombinator.com/" target = "_blank" class = "pull-right" style = "margin-right:20px">comment</a> 
	</div>
	<br><br>
	
	<div id = "primary" class = 'shadowlight contentblock'>
		<h4>
			 Twitter Mentions & Republican Primaries
			<span class = "pull-right"> Oct 9, 2012</span>
		</h4>
		<hr>
		<p>
			To start with something simple, we look at the Twitter mentions of the election candidates. It is surprising that even such a simple statistic reveals lots of insights.
			The following graph counts the Twitter mentions of the word “Romney” on a daily basis during the Republican Primaries. A few patterns to note:
		</p>
		<ul>
			<li>The spikes match well with major events like the primary nights and televised debates. Interestingly, only CNN and FOX debates caused major spikes.</li>
			<li>Significant weekly periodicity of Twitter mentions. People tweet more about the election during weekdays (at work? in class? :D).</li>
			<li>If we ignore event-driven spikes, Romney is getting more mentions over time. Does this correlate with his odds of winning?</li>
		</ul>
		<img src = '/static/img/romney.png'><br><br>
		
		<p>
			Now let's look at the relative twitter mentions of each candidate relative to one another. The next plot shows the republican primaries, a race among Romney, Santorum, Gingrich and Paul.
		</p>
		<p>
			Wow! The winner of each primaries tended to be the one with the greatest number of twitter mention or the strongest up-trend momentum. 
		</p>
		<p>
			At the first sight, it might seem crazy that the noisy micro-blogosphere, in which people complain about overbaking their pancakes or brag about their vodka melon hangovers, has any predictive value on any significant event. Moreover, more serious researchers will point out various biases, such as user demographics, negative tweets, etc.
			However, on a second thought this might not be too bizarre an idea after all. Being mentioned a lot may be good or bad, depending on how favorable tweets are. But not being mentioned is certainly bad; that means no one cares about the candidate.
			
			Certainly, this won't explain all the biases and the reason behind the correlation is defintiely worth further investigation.			 
		</p>
		<img src = '/static/img/primary.png' style = 'text-align:center'><br>
		<a href = "#introduction" class = "pull-right">back</a>
		<a href = "http://news.ycombinator.com/" target = "_blank" class = "pull-right" style = "margin-right:20px">comment</a> 
	</div>
	<br><br>
	
	<div id = "presidential_race" class = 'shadowlight contentblock'>
		<h4>
			 Twitter Mentions & the Presidential Race
			<span class = "pull-right"> Oct 19, 2012</span>
		</h4>
		<hr>
		<p>Now that we have tested our muscles, we are ready to move on to the big game, the Presidential Election. Here is a simple plot of the percentage of Twitter mentions for the two candidates since January.</p>
		<img src = '/static/img/obama_romney.png' style = "width:900px;height:500px"><br>
		<p> 
		   Not surprisingly, Obama, as the incumbent President, receives way more mentions than Romney for most of the time. Nonetheless, there are a few spikes in Romney’s mentions plot that are worth investigating.
		   What are some events that let Romney get more attention on the Twitter sphere? Are they good for Romney? We wrote some code to help us identify some of the major events:
		</p>
		<ul>
			<li>On Apr 12, most of the discussion focused on the “stay-at-home-mom” comment by Hilary Rosen on Ann Romney. Here is a tweet supporting Ann: 
				<span style = "font-style:italic">"also disappointed in hilary rosen's comments about ann romney. they were inappropriate and offensive."</span>
				Of course, not all of them are defending Ann.
			</li>
			<li> On Jul 11, Romney spoke at NAACP and got booed, according to Twitter. </li>
			<li> On Jul 26, Romney attended the Olympic Opening Ceremony, sweating about his “Olympic gaffes”.</li>
			<li> On Aug 10, Romney picked Ryan as the running mate. The most retweeted post: “Really Romney?”</li>
		</ul>

		<p> Well, Twitter is full of interesting information, blended in sarcasm, humor and irony. It reminds me of a quote: </p>
		<p style = "font-weight:bold;font-style:italic;text-align:center">With the absence of the false, you have the truth and noise.</p>
		<br>

		<a href = "#introduction" class = "pull-right">back</a>
		<a href = "http://news.ycombinator.com/" target = "_blank" class = "pull-right" style = "margin-right:20px">comment</a>
	</div>
	<br><br>
	
	<div id = "track_romney" class = 'shadowlight contentblock'>
		<h4>
			Putting a GPS Tracker on Romney
			<span class = "pull-right"> Oct 20, 2012</span>
		</h4>
		<hr>
		<p>
			We'd like to test an interesting hypothesis: Twitter knows Romney's whereabouts.
			The idea is that if Romney is present in a State on a day, there would be a jump in the share of Romney mention in that State compared to nation-wide mentions. 
			So examining the jump would allow us to track down the campaign schedule of Romney. Based on the magnitude of the jump, we made some statistical estimations of the probability of Romney having an event in a state / having no event at all. 
			The following table shows the top three most likely estimates. Romney's actual location is highlighted in green.
		</p>
		<table class="table table-condensed">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Most Likely</th>
                  <th>Second Likely</th>
                  <th>Third Likely</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Oct 1</td>
                  <td style = "color:green;font-weight:bold;">CO 62%</td>
                  <td>MI 13%</td>
                  <td>No Event 11%</td>
                </tr>
                <tr>
                  <td>Oct 2</td>
                  <td>CO 57%</td>
                  <td style = "color:green;font-weight:bold;">No Event 15%</td>
                  <td>MI 10%</td>
                </tr>
                <tr>
                  <td>Oct 3</td>
                  <td>IN 37%</td>
                  <td>NC 26%</td>
                  <td style = "color:green;font-weight:bold;">No Event 14%</td>
                </tr>
                <tr>
                  <td>Oct 4</td>
                  <td>IN 32%</td>
                  <td>PA 29%</td>
                  <td>No Event 20%</td>
                </tr>
                <tr>
                  <td>Oct 5</td>
                  <td>No event 31%</td>
                  <td>OH 26%</td>
                  <td style = "color:green;font-weight:bold;">FL 19%</td>
                </tr>
                <tr>
                  <td>Oct 6</td>
                  <td style = "color:green;font-weight:bold;">FL 37%</td>
                  <td>No event 21%</td>
                  <td>MI 18%</td>
                </tr>
                <tr>
                  <td>Oct 7</td>
                  <td>NC 42%</td>
                  <td style = "color:green;font-weight:bold;">FL 27%</td>
                  <td>No event 16%</td>
                </tr>
                <tr>
                  <td>Oct 8</td>
                  <td style = "color:green;font-weight:bold;">VA 31%</td>
                  <td>NC 25%</td>
                  <td>No event 21%</td>
                </tr>
                <tr>
                  <td>Oct 9</td>
                  <td style = "color:green;font-weight:bold;">OH 45%</td>
                  <td>PA 17%</td>
                  <td>No event 16%</td>
                </tr>
                <tr>
                  <td>Oct 10</td>
                  <td style = "color:green;font-weight:bold;">OH 33%</td>
                  <td>PA 22%</td>
                  <td>No event 21%</td>
                </tr>
                <tr>
                  <td>Oct 11</td>
                  <td style = "color:green;font-weight:bold;">NC 43%</td>
                  <td>OH 20%</td>
                  <td>IN 18%</td>
                </tr>
                <tr>
                  <td>Oct 12</td>
                  <td style = "color:green;font-weight:bold;">OH 32%</td>
                  <td>NC 27%</td>
                  <td>No event 21%</td>
                </tr>
                <tr>
                  <td>Oct 13</td>
                  <td style = "color:green;font-weight:bold;">OH 38%</td>
                  <td>NC 29%</td>
                  <td>No event 16%</td>
                </tr>
                <tr>
                  <td>Oct 14</td>
                  <td>FL 31%</td>
                  <td style = "color:green;font-weight:bold;">No event 22%</td>
                  <td>WI 21%</td>
                </tr>
                
              </tbody>
            </table>
		<p>
			The results are surely not earth-shattering but they're fairly accurate. This is an illustration of the power of big data in practice. Even though we only keep tiny amount of information from each tweet, the information accumulated still allows us to distill fairly strong signals that reflect real world events.
		</p>
		<a href = "#introduction" class = "pull-right">back</a>
		<a href = "http://news.ycombinator.com/" target = "_blank" class = "pull-right" style = "margin-right:20px">comment</a>
	</div>
	<br><br>
	
	<div id = "obama_economy" class = 'shadowlight contentblock'>
		<h4>
			Obama, Economy, Huh?
			<span class = "pull-right"> Oct 21, 2012</span>
		</h4>
		<hr>
		<p>
			You don’t need to follow the election to know that this election is about the ECONOMY, and this is the one area where Obama is clearly on the defensive. We want to see whether Twitter can tell us anything interesting on this front. Therefore we look for tweets about Obama that also talk about the state of the economy. We then compare it with two important economic indices. The first one is the S&P500. And we have the following plot.
		</p>
		<img src = '/static/img/obama_economy.png' style = "width:900px;height:500px"><br>
		<p>
			You may be thinking that they don't correlate at all. You're right. Not only they don't correlate, they actually anti-correlate! Now let's see something that correlates: obama and unemployment rate.
		</p>
		<img src = '/static/img/obama_employment.png' style = "width:900px;height:500px"><br>
		<p>Hmm, so bad market and high unemployment rate reminds people of Obama? We can learn two things from these plots: 1. People talk about the economy when it sucks. 2. Obama, as the incumbent president, is taking the responsiblity of economic performance.</p>
		<p> Additionally, since unemployment data is always released one month later, the pattern on Twitter mention is somewhat predictive of the unemployment rate. I'll bet that the October unemployment rate will be higher than that of September! </p>
		<a href = "#introduction" class = "pull-right">back</a>
		<a href = "http://news.ycombinator.com/" target = "_blank" class = "pull-right" style = "margin-right:20px">comment</a>
	</div>
	<br><br>
</div>
{% endblock %}