{% extends 'index.html' %}

{% block subtitle %} : contact {% endblock %}

{% block page_head %}
<link type="text/css" href="/static/css/contact.css" rel="stylesheet" />
<link type="text/css" href="/static/css/common.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div class = 'container'>
		<div class = 'shadowlight contentblock'>
			<h3> Contact</h3>
			<hr>
			<p>
				If you want to request a feature, report a bug, give us feedback or just say hello, please email us:
			</p>
			<br>
			
			<div style="text-align:center">
				<a class="btn btn-large" href="mailto:twithinks@mit.edu">
	              <i class="icon-envelope"></i> 
	              <span>twithinks</span>@mit.<span>edu</span>
	            </a>
            </div>
		</div>
	</div>
{% endblock %}
