{% extends 'index.html' %}

{% block subtitle %} : Gun Control {% endblock %}

{% block page_head %}
	<link type="text/css" href="/static/css/gun.css" rel="stylesheet"/>
{% endblock %}

	{% block content %}
	<!--[if IE]>
		<div id="ie-notice" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">IE is not fully supported</h3>
		  </div>
		  <div class="modal-body">
			<p>We are working hard to ensure the best possible user experience for every user. But unfortunately, your current browser, Internet Explorer, is not fully supported yet. Please consider using <a href="https://www.google.com/chrome" target="_blank">Chrome</a> or <a href="http://www.mozilla.org/firefox/" target="_blank">Firefox</a> instead. You are welcomed to look around if you wish.</p>
		  </div>
		  <div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Dismiss and Visit</button>
		  </div>
		</div>
		<script type="text/javascript">
			$('#ie-notice').modal();
		</script>
	<![endif]-->
	
	<div id="gun_map" class = 'shadowlight contentblock'>
		<h2>Geographical and temporal distribution of discussions</h2>
		<iframe src="http://gun-control.herokuapp.com/graph/geographics" scrolling="no" frameborder="0" width="900" height="600"></iframe>
	</div>
	
	<div id="gun_demographics" class = 'shadowlight contentblock'>
		<h2>Attitudes toward <em>More</em> Gun Control in demographic groups</h2>
		<iframe src="http://gun-control.herokuapp.com/graph/demographics" scrolling="no" frameborder="0" width="900" height="800"></iframe>
	</div>
	
	<div id="gun_party" class = 'shadowlight contentblock'>
		<h2>Political groups interactions</h2>
		<iframe src="http://gun-control.herokuapp.com/graph/group-interaction" scrolling="no" frameborder="0" width="900" height="600"></iframe>
	</div>
	
	{% endblock %}
</body>
</html>
