<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>TwiThinks!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="static/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<style>
	body {
		padding-top: 60px;
		/* 60px to make the container go all the way to the bottom of the topbar */
	}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v2.js"></script>
	<link rel="shortcut icon" href="static/img/twitter_favicon.ico">
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">TwiThinks!</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
  <div id="graph" style="text-align:center">
	<script type="text/javascript">
		var width = 1500, height = 1000;
		var svg = d3.select(document.getElementById('graph')).append("svg").attr('width', width).attr('height', height);
		var path = d3.geo.path().projection(d3.geo.albersUsa().scale(1400).translate([600,360]));
		var g = svg.append("g").attr("id", "map");
		// set up the map
		d3.json("static/dat/us_states.json", function(json) {
			var ss = g.selectAll("g").data(json.features).enter().append("g").attr("class", "state").attr("id", function(d){return d.properties.name;});
			ss.append("path").attr("d", path).style("fill", "SteelBlue");
			ss.append("text").attr("x", function(d){return path.centroid(d)[0];}).attr("y", function(d){return path.centroid(d)[1];}).attr("dx", "0.35em").style("fill", "white").attr("text-anchor", "middle").text(function(d){return String(d.properties.name)});
			// set up the count after the map
			d3.json("count?time=1325394000", function(json) {
				var color = d3.scale.linear().domain([0, 1]).range(["red", "blue"]);
				for (var i=0; i<json.data.length; i++) {
					var item = json.data[i];
					g.select("#"+item.state).select("path").style("fill",color(item.obama/(item.obama+item.romney))).append("svg:title").text("Obama: "+d3.round(item.obama/(item.obama+item.romney)*100)+"%, Romney: "+d3.round(item.romney/(item.obama+item.romney)*100)+"%");
				}
			});
		});

	</script>
</body>
</html>
