<!doctype html>

<html lang="en">
<head>
	{% block head %}
	<title>twithinks{% block subtitle %}{% endblock %}</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-ico">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keyword" content="twitter data analysis, election twitter data">
	
	<script type="text/javascript">
		var TWITWI_ROOT = {{ request.script_root|tojson|safe }};	// build absolute path in JS with this constant
	</script>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
	<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap-tooltip.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">


	{% block page_head %}	
	<script type="text/javascript" src="/static/lib/d3/d3.v2.min.js"></script>
	<script type="text/javascript" src="/static/lib/d3/d3-cache-helper.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery/jquery.cycle.all.js"></script>
	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<script type="text/javascript" src="/static/js/base.js"></script>
	<script type="text/javascript" src="/static/js/map.js"></script>
	<script type="text/javascript" src="/static/js/topic.js"></script>
	<script type="text/javascript" src="/static/js/realtime.js"></script>
	
	<link type="text/css" href="/static/css/index.css" rel="stylesheet"/>
	<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet"/>
	{% endblock %}
	
	<script type="text/javascript">
	  	var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35060935-1']);
	  	_gaq.push(['_trackPageview']);	
	  	(function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  	})();
	</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	{% endblock %}
</head>

<body>
	{% block body %}
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</a> 
				<a class="brand" href="{% if request.path==url_for('index') %}#{% else %}{{ url_for('index') }}{% endif %}">TwiThinks!</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li {% if request.path==url_for('index') %}class="active"{% endif %}><a href="{% if request.path==url_for('index') %}#{% else %}{{ url_for('index') }}{% endif %}">Home</a></li>
						<li {% if request.path==url_for('research') %}class="active"{% endif %}><a href="{% if request.path==url_for('research') %}#{% else %}{{ url_for('research') }}{% endif %}">Research</a></li>
						<li {% if request.path==url_for('blog') %}class="active"{% endif %}><a href="{% if request.path==url_for('blog') %}#{% else %}{{ url_for('blog') }}{% endif %}">Blog</a></li>
						<li {% if request.path==url_for('contact') %}class="active"{% endif %}><a href="{% if request.path==url_for('contact') %}#{% else %}{{ url_for('contact') }}{% endif %}">Contact</a></li>
						<li {% if request.path==url_for('about') %}class="active"{% endif %}><a href="{% if request.path==url_for('about') %}#{% else %}{{ url_for('about') }}{% endif %}">About</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	{% block content %}
	<div id="page" class="container-fluid">
		<div id = "menu">
			<ul class="nav nav-tabs">
				<li id = "index_menu" class="active">
					<a href="#" class="black" onclick="slide_carousel('index_container')" rel="tooltip" data-placement="bottom" data-original-title="An election index based on Twitter mentions, normalized by the popultion and TWitter users of each state.">Election Index </a>
				</li>
				<li id = "map_menu">
					<a href="#" class="black" onclick="slide_carousel('map_container')" rel="tooltip" data-placement="bottom" data-original-title="This map shows how many times Obama and Romney are mentioned. The color indicates their relative percentage.">Election Map </a>
				</li>
				<li id = "topic_menu">
					<a href="#" class="black" onclick="slide_carousel('topic_container')" rel="tooltip" data-placement="bottom" data-original-title="This chart shows what topics people are talking about when a candidate is mentioned.">Election Topics </a>
				</li>
				<li id = "realtime_menu">
					<a href="#" class="black" onclick="slide_carousel('realtime_container')" rel="tooltip" data-placement="bottom" data-original-title="Election tweets in real time.">Election Realtime </a>
				</li>
				<li class="pull-right" style = "margin-top:13px;" >
					<a href="https://twitter.com/share" style = "" class="twitter-share-button pull-right" data-lang="en" data-text = "twithinks, 2012 Presidential Election on Twitter" data-size="medium">Tweet</a>
					<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftwitwi.mit.edu%2F&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>					
				</li>
				<li class="pull-right">
        		</li>
			</ul>
		</div>	
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div id="index_container" class="active item carousel_element">under construction</div>
				<div id="map_container" class="item carousel_element"></div>
				<div id="topic_container" class="item carousel_element"> 
					<div class="row-fluid" style = "margin-left:60px">
						<h4 style = "position: absolute; top:30px">When mentioning Obama, people tweet about:</h4>
						<h4 style = "position: absolute; left:550px; top:30px">When mentioning Romney, people tweet about:</h4>						
  						<div id = "topic_obama" class = "span5"></div>
  						<div id = "topic_romney" class = "span5" style = "margin-left:30px"></div>
					</div>
				</div>
				<div id="realtime_container" class="item carousel_element">
					<button id = "realtime_tweet_up" class="btn btn-small disabled" type="button" style = "margin: 5px; margin-left: 100px;"><i class="icon-chevron-up"></i></button>
					<button id = "realtime_tweet_down" class="btn btn-small disabled" type="button" style = "margin: 5px;"><i class="icon-chevron-down"></i></button>
					<button id = "realtime_tweet_refresh" class="btn btn-small" type="button" style = "margin: 5px;"><i class="icon-refresh"></i></button>
					<div style = "display:inline"><img id = "load_icon" src = '/static/img/loading.gif' style = "width:25px; height:25px; margin:5px; display:none;"></div>
					<div style = "display:inline"><span id = "new_tweet_notification" class="label label-info" style = "width:25px; height:25px; margin-left:150px; display:none">New tweets available, click refresh to view</span></div>
					<ul id="realtime_tweet" style = "margin:auto; margin-top:10px"></ul>
				</div>
			</div>
		  	<a class="carousel-control left " href="#myCarousel" data-slide="prev">&lsaquo;</a> 
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

		<div style = "height:120px"> 
			<div id="control">
				<div style="margin-left:20px;"><input type="text" id="date" size="10" style="width:140px;"/></div>
			</div>
			
			<div id = "tweet_panel">
				<ul id = 'tweet'></ul>
				<div style = "float:right;">
					<button id = "tweet_up" class="btn btn-small btn-primary" type="button" style = "display:block; margin: 5px;"><i class="icon-chevron-up icon-white"></i></button>
					<button id = "tweet_down" class="btn btn-small btn-primary" type="button" style = "display:block; margin: 5px;"><i class="icon-chevron-down icon-white"></i></button>  
				</div>
			</div>
		</div>
		
		<div class="modal hide fade" id="detail" tabindex="-1">
			<div class="modal-header">
				<h3 id="detail_name"></h3>
			</div>
			<div class="modal-body">
				<div id="detail_chart"></div>
			</div>
			<div class="modal-footer" style="text-align:left;">
				<div id = "detail_tweet_panel">
					<div id="detail_tweet"></div>
					<div style = "float:right;">
						<button id = "detail_tweet_up" class="btn btn-small btn-primary" type="button" style = "display:block; margin: 5px;"><i class="icon-chevron-up icon-white"></i></button>
						<button id = "detail_tweet_down" class="btn btn-small btn-primary" type="button" style = "display:block; margin: 5px;"><i class="icon-chevron-down icon-white"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	
	<footer class="footer">
		<hr>
    	<div align="center"> &copy; TwiThinks 2012</div>
    </footer>
	{% endblock %}
</body>
</html>
