<!doctype html>

<html lang="en">
<head>
	{% block head %}
	<title>twithinks{% block subtitle %}{% endblock %}</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keyword" content="twitter data analysis, election twitter data, presidential election 2012, data mining" />
	<meta name="description" content="Analyzing and visualizing 2012 presidential election on Twitter." />
	
	<script type="text/javascript">
		var TWITWI_ROOT = {{ request.script_root|tojson|safe }};	// build absolute path in JS with this constant
	</script>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
	<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap-tooltip.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">


	{% block page_head %}	
	<script type="text/javascript" src="/static/lib/d3/d3.v2.min.js"></script>
	<script type="text/javascript" src="/static/lib/d3/d3-cache-helper.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery/jquery.cycle.all.js"></script>
	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<script type="text/javascript" src="/static/js/base.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type="text/javascript" src="/static/js/map.js"></script>
	<script type="text/javascript" src="/static/js/topic.js"></script>
	<script type="text/javascript" src="/static/js/realtime.js"></script>
	
	<link type="text/css" href="/static/css/index.css" rel="stylesheet"/>
	<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet"/>
	
	<meta property="og:title" content="Twitizen&#039;s election on TwiThinks" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://twithinks.mit.edu" />
	<meta property="og:image" content="http://twithinks.mit.edu/static/img/logo_256x256.png" />
	<meta property="og:site_name" content="TwiThinks" />
	<meta property="og:description" content="Watch Twitter users voting in realtime election " />
	<meta property="fb:admins" content="680266857,608188613" />
	
	{% endblock %}
	
	<script type="text/javascript">
	  	var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35060935-1']);
	  	_gaq.push(['_trackPageview']);	
	  	(function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  	})();
	</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	{% endblock %}
</head>

<body>
	{% block body %}
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</a> 
				<a class="brand" href="{% if request.path==url_for('index') %}#{% else %}{{ url_for('index') }}{% endif %}">TwiThinks!</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li {% if request.path==url_for('index') %}class="active"{% endif %}><a href="{% if request.path==url_for('index') %}#{% else %}{{ url_for('index') }}{% endif %}">Home</a></li>
						<li {% if request.path==url_for('allstar_page') %}class="active"{% endif %}><a href="{% if request.path==url_for('allstar_page') %}#{% else %}{{ url_for('allstar_page') }}{% endif %}">#NBAAllStar</a></li>
						<li {% if request.path==url_for('gun_page') %}class="active"{% endif %}><a href="{% if request.path==url_for('gun_page') %}#{% else %}{{ url_for('gun_page') }}{% endif %}">#GunControl</a></li>
						<li {% if request.path==url_for('ivoted_page') %}class="active"{% endif %}><a href="{% if request.path==url_for('ivoted_page') %}#{% else %}{{ url_for('ivoted_page') }}{% endif %}">#IVoted</a></li>
						<li {% if request.path==url_for('research') %}class="active"{% endif %}><a href="{% if request.path==url_for('research') %}#{% else %}{{ url_for('research') }}{% endif %}">Research</a></li>
						<li {% if request.path==url_for('blog') %}class="active"{% endif %}><a href="{% if request.path==url_for('blog') %}#{% else %}{{ url_for('blog') }}{% endif %}">Blog</a></li>
						<li {% if request.path==url_for('contact') %}class="active"{% endif %}><a href="{% if request.path==url_for('contact') %}#{% else %}{{ url_for('contact') }}{% endif %}">Contact</a></li>
						<li {% if request.path==url_for('about') %}class="active"{% endif %}><a href="{% if request.path==url_for('about') %}#{% else %}{{ url_for('about') }}{% endif %}">About</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	{% block content %}
	<!--[if IE]>
		<div id="ie-notice" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">IE is not fully supported</h3>
		  </div>
		  <div class="modal-body">
			<p>We are working hard to ensure the best possible user experience for every user. But unfortunately, your current browser, Internet Explorer, is not fully supported yet. Please consider using <a href="https://www.google.com/chrome" target="_blank">Chrome</a> or <a href="http://www.mozilla.org/firefox/" target="_blank">Firefox</a> instead. You are welcomed to look around if you wish.</p>
		  </div>
		  <div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Dismiss and Visit</button>
		  </div>
		</div>
		<script type="text/javascript">
			$('#ie-notice').modal();
		</script>
	<![endif]-->
	<div id="page" class="container-fluid">
		<div id = "menu">
			<ul class="nav nav-tabs">
				<li id = "map_menu" class="active">
					<a href="#" class="black" onclick="slide_carousel('map_container')" rel="tooltip" data-placement="bottom" data-original-title="How many times Obama and Romney are mentioned in each state. The color indicates their relative percentage.">Election Map </a>
				</li>
				<li id = "topic_menu">
					<a href="#" class="black" onclick="slide_carousel('topic_container')" rel="tooltip" data-placement="bottom" data-original-title="Trending topics people tweet about when a candidate is mentioned.">Trending Topics </a>
				</li>
				<li id = "realtime_menu">
					<a href="#" class="black" onclick="slide_carousel('realtime_container')" rel="tooltip" data-placement="bottom" data-original-title="Latest tweets about the election">Real-time Tweets</a>
				</li>
				<li id = "index_menu">
					<a href="#" class="black" onclick="slide_carousel('index_container')" rel="tooltip" data-placement="bottom" data-original-title="Nation-wide Twitter mentions, normalized by the electoral college vote and Twitter user population of each state.">Twitter Publicity</a>
				</li>
				<li class="pull-right" style="margin-top:13px;" >
          <div class="social">
					  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://twithinks.mit.edu" data-text="TwiThinks, Visualizing 2012 Presidential Election on Twitter" data-size="medium" data-via="_twithinks">Tweet</a>
				  </div>
          <div class="social">
            <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftwithinks.mit.edu%2F&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
          </div>
          <div class="social g-plusone" data-size="medium" data-annotation="bubble"></div>
        </li>
			</ul>
		</div>	
		
		<div id="myCarousel" class="carousel slide">
			<!--<a class="badge badge-success" href = "http://twithinks.mit.edu/ivoted" target = "_blank" style = "margin-left:370px;"> &nbsp Watch How Twitter User Voted &nbsp</a> -->
			<div class="carousel-inner">
				<div id="map_container" class="active item carousel_element"></div>
				<div id="topic_container" class="item carousel_element"> 
					<div class="row-fluid" style = "margin-left:60px">
						<h4 style = "position: absolute; top:30px">When mentioning Obama, people tweet about:</h4>
						<h4 style = "position: absolute; left:550px; top:30px">When mentioning Romney, people tweet about:</h4>						
  						<div id = "topic_obama" class = "span5"></div>
  						<div id = "topic_romney" class = "span5" style = "margin-left:30px"></div>
					</div>
				</div>
				<div id="realtime_container" class="item carousel_element">
					<button id = "realtime_tweet_up" class="btn btn-small disabled" type="button" style = "margin: 5px; margin-left: 100px;"><i class="icon-chevron-up"></i></button>
					<button id = "realtime_tweet_down" class="btn btn-small disabled" type="button" style = "margin: 5px;"><i class="icon-chevron-down"></i></button>
					<button id = "realtime_tweet_refresh" class="btn btn-small" type="button" style = "margin: 5px;"><i class="icon-refresh"></i></button>
					<div style = "display:inline"><img id = "load_icon" src = '/static/img/loading.gif' style = "width:25px; height:25px; margin:5px; display:none;"></div>
					<div style = "display:inline"><span id = "new_tweet_notification" class="label label-info" style = "width:25px; height:25px; margin-left:150px; display:none">New tweets available, click refresh to view</span></div>
					<ul id="realtime_tweet" style = "margin:auto; margin-top:10px"></ul>
				</div>
				<div id="index_container" class="item carousel_element">
					<div id = "index_panel" style = "margin-left:100px; width:800px; height:500px"></div>
				</div>
			</div>
		  	<a class="carousel-control left " href="#myCarousel" data-slide="prev">&lsaquo;</a> 
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

		<div id="control-wrapper"> 
			<div id="control">
				<div style="margin-left:20px;"><input type="text" id="date" size="10" style="width:140px;"/></div>
			</div>
			
			<div id = "tweet_panel">
				<span style = "margin-left:120px" class="label label-info">Most Retweeted:</span>
				<ul id = 'tweet' style = "margin-top:5px"></ul>
				<div style = "float:right;">
					<button id = "tweet_up" class="btn btn-small btn-primary" type="button" style = "display:block; margin: 5px;"><i class="icon-chevron-up icon-white"></i></button>
					<button id = "tweet_down" class="btn btn-small btn-primary" type="button" style = "display:block; margin: 5px;"><i class="icon-chevron-down icon-white"></i></button>  
				</div>
			</div>
		</div>
		
		<div class="modal hide fade" id="detail" tabindex="-1">
			<div class="modal-header">
				<h3 id="detail_name"></h3>
			</div>
			<div class="modal-body">
				<div id="detail_chart"></div>
			</div>
			<div class="modal-footer" style="text-align:left;">
				<div id = "detail_tweet_panel">
					<div id="detail_tweet"></div>
					<div style = "float:right;">
						<button id = "detail_tweet_up" class="btn btn-small btn-primary" type="button" style = "display:block; margin: 5px;"><i class="icon-chevron-up icon-white"></i></button>
						<button id = "detail_tweet_down" class="btn btn-small btn-primary" type="button" style = "display:block; margin: 5px;"><i class="icon-chevron-down icon-white"></i></button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'twithinks'; // required: replace example with your forum shortname
			//var disqus_developer = 1;
			var disqus_url = 'http://twithinks.mit.edu';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
	<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>	
	{% endblock %}
	
	<footer class="footer">
		<hr>
    	<div align="center"> &copy; <b>TwiThinks</b> 2012</div>
    </footer>
	{% endblock %}
</body>
</html>
