{% extends 'index.html' %}

{% block subtitle %} : I Voted{% endblock %}

{% block page_head %}
	<style>
		body {
			padding-top: 60px;
			background-image: url(static/img/bgnoise.png);
		}
		
		.shadowlight {
			-webkit-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
			-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
		}
	
		.contentblock {
			background: white;
			padding: 50px;
			padding-top: 20px;
			padding-bottom: 20px;
			width:1000px;
			margin:auto;
		  	-webkit-border-radius: 5px;
		 	-moz-border-radius: 5px;
		 	border-radius: 5px;
		}
		
		#vote-meter {
			margin: 10px auto 10px auto;
			width: 1000px;
			text-align: center;
		}
		
		.candidate-box {
			display: inline-block;
			margin: 10px;
			overflow: show;
			width: 250px;
		}
		
		.candidate-box img {
			display: block;
			margin: 0 auto 5px auto;
		}
		
		.candidate-box img+div{
			
		}
		
		#obama-vote, #romney-vote {
			display: inline-block;
			font-size: 4em;
			font-weight: 700;
			margin: 20px;
		}
		
		#obama-vote {
			color: #0D406B;
		}
		
		#romney-vote {
			color: #9E2017;
		}
		
		#vote-bar-box {
			display: inline-block;
			position: relative;
			bottom: 65px;
		}
		
		#vote-bar-box div:first-child {
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 50px;
		}
		
		#vote-bar {
			margin: auto 10px auto 10px;
		}
		
		#vote-bar line {
			z-index: 10;
		}
		
		#vote-map {
			margin: auto;
			width:1000px;
			height:550px;
			margin-top:30px;
			margin-bottom:30px;
		}
		
		.state path {
			opacity: 1;
			fill: #aaa;
			stroke: #fff;
			stroke-width: 1.5px;
			transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
			-moz-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
			-ms-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
			-webkit-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
			-o-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
		}
		
		.hover path {
			stroke: #888;
		}
		
		.background {
			fill: none;
			pointer-events: all;
		}
		
		/* hover-box */
		.hover-box {
			background-color: white;
			border-radius: 3px;
			border: 2px solid #aaa;
			position: absolute;
			padding: 10px;
			width: 180px;
		}

		#state-name {
			font: bold 14px sans-serif;
			width: 100%;
			border-bottom: 2px solid #ddd;
			margin-bottom: 5px;
			padding-bottom: 3px;
		}

		#obama-count, #romney-count {
			display: inline;
		}
	</style>
	<script type="text/javascript" src="/static/lib/d3/d3.v2.min.js"></script>
	<script type="text/javascript" src="/static/js/ivoted.js"></script>
	<link type="text/css" href="/static/css/ivoted.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
	<div id="vote-meter" class = 'shadowlight contentblock'>
		<div class="candidate-box">
			<img src="https://twimg0-a.akamaihd.net/profile_images/2325704772/wrrmef61i6jl91kwkmzq.png" width="160" height="160">
			<div>@BarackObama</div>
			<div> <div id="obama-vote">-</div> </div>
		</div>
	
		<div id="vote-bar-box">
			<div>Twitter users voted for</div>
			<div id="vote-bar"></div>
			<h3 id = "obama_percent" style = "float:left"></h3>
			<h3 id = "romney_percent" style = "float:right"></h3>
		</div>
		
		<div class="candidate-box">
			<img src="https://twimg0-a.akamaihd.net/profile_images/2624978379/chw1hdzozfdew973pvjr.png" width="160" height="160">
			<div>@MittRomney</div>
			<div><div id="romney-vote">-</div> </div>
		</div>
		<p style = "font-style:italic;color:grey;font-size:10px">Self-declared votes on Twitter do not necessarily reflect actual voting behavior.</p>
		<div class="pull-right" style = "margin-top:-30px" >
			<a href="https://twitter.com/share" style = "" class="twitter-share-button pull-right" data-lang="en" data-url="http://twithinks.mit.edu/ivoted" data-text="TwiThinks, Watch Twitter users voting in realtime" data-size="medium" data-via="_twithinks">Tweet</a>
			<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftwithinks.mit.edu%2F&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px; margin-right: 20px;" allowTransparency="true"></iframe>					
		</div>
	</div>
		
	<div id="vote-map" class = 'shadowlight contentblock'>
		<div id = "tweet_holder" style = "height:50px"></div>
	</div>
	
	<div class="container-fluid" style = "width:1100px; margin:auto">
		<div class="row-fluid" style = "margin:auto">
			<div class="span6">
				<h3>I voted for Obama</h3>
				<a class="twitter-timeline" data-dnt=true href="https://twitter.com/search?q=%22voted+for%22+obama" data-widget-id="265841091654324224">Tweets about ""voted for" obama"</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="span6">
				<h3>I voted for Romney</h3>
				<a class="twitter-timeline" data-dnt=true href="https://twitter.com/search?q=%22voted+for%22+romney" data-widget-id="265844840665858048">Tweets about ""voted for" romney"</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
	
	<div id="disqus_thread" style = "margin:auto; margin-top:30px">
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'twithinks'; // required: replace example with your forum shortname
			//var disqus_developer = 1;
			var disqus_url = 'http://twithinks.mit.edu/ivoted';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
	
	<script type="text/javascript">
		var interval = 60 * 1000;
		var bar_w = 420, bar_h = 70;
		var bar_svg = d3.select('#vote-bar').append('svg').attr('width', bar_w).attr('height', bar_h+30);
		var line = bar_svg.append('line').attr('style', 'stroke:#888;stroke-width:4;stroke-dasharray:6,3;').attr('x1', bar_w/2).attr('x2', bar_w/2).attr('y1', 100).attr('y2', 0);
		bar_svg.selectAll('rect').data();
		var count_url = '/ivoted.json';
		var last_json_fetch;
		var current, next;
		var comma = d3.format(',');
		
		(function requestAnimationFrame() {
			window.requestAnimationFrame = window.requestAnimationFrame ||
			window.webkitRequestAnimationFrame ||
			window.mozRequestAnimationFrame ||
			window.oRequestAnimationFrame ||
			window.msRequestAnimationFrame ||
			function(/* function FrameRequestCallback */ callback, /* DOMElement Element */ element) {
				return window.setTimeout(callback, 1000/60);
			};
		})();
		
		function fetch() {
			d3.json(count_url, function(json) {
				last_json_fetch = Date.now();
				current = next;
				next = json;
			});
		}
		
		// start fetching counts
		d3.json(count_url, function(json) {
			last_json_fetch = Date.now();
			next = json;
			current = $.extend(true, {}, next);
			current.US[0] -= Math.floor((Math.random() * 100)) + 20;
			current.US[1] -= Math.floor((Math.random() * 100)) + 20;
			// start updating graphs
			setInterval(update, 500);
		});
		setInterval(function() {
			fetch();
		}, interval);
		
		function update() {
			var ct = Date.now();
			var progress = (ct - last_json_fetch) / interval;
			var oc = current.US[0] * (1-progress) + progress * next.US[0];
			var rc = current.US[1] * (1-progress) + progress * next.US[1];
			update_count(oc, rc);
			update_bar(oc, rc);
			$("#obama_percent").text(Math.round(oc/(oc+rc)*100) + "%");
			$("#romney_percent").text(Math.round(rc/(oc+rc)*100) + "%");
		}
		
		function update_count(obama, romney) {
			d3.select('#obama-vote').text(comma(Math.floor(obama)));
			d3.select('#romney-vote').text(comma(Math.floor(romney)));
		}
		
		function update_bar(obama, romney) {
			var total = obama + romney;
			var ow = bar_w * obama / total;
			var rw = bar_w * romney / total
			var data = [{name: 'obama', w: ow}, {name: 'romney', w: rw}];
			bar_svg.selectAll('rect')
				.data(data)
				.attr('x', function(d) {return (d.name=='obama')? 0 : data[0].w;})
				.attr('width', function(d) {return d.w;})
				.enter().append('rect')
				.attr('y', 15)
				.attr('x', function(d) {return (d.name=='obama')? 0 : data[0].w;})
				.attr('width', function(d) {return d.w;})
				.attr('height', bar_h)
				.attr('fill', function(d) {return (d.name=='obama')? '#0D406B' : '#9E2017';});
			bar_svg[0][0].appendChild(line[0][0]);
		}
	</script>
{% endblock %}
