{% extends 'index.html' %}

{% block subtitle %} : i voted{% endblock %}

{% block page_head %}
	<style>
		body {
			padding-top: 60px;
			background-image: url(static/img/bgnoise.png);
		}
		
		#vote-meter {
			margin: 10px auto 10px auto;
			width: 1000px;
			text-align: center;
		}
		
		.candidate-box {
			display: inline-block;
			margin: 10px;
			overflow: show;
			width: 250px;
		}
		
		.candidate-box img {
			display: block;
			margin: 0 auto 5px auto;
		}
		
		.candidate-box img+div{
			
		}
		
		#obama-vote, #romney-vote {
			display: inline-block;
			font-size: 4em;
			font-weight: 700;
			margin: 20px;
		}
		
		#obama-vote {
			color: #0D406B;
		}
		
		#romney-vote {
			color: #9E2017;
		}
		
		#vote-bar {
			margin: auto 10px auto 10px;
			display: inline-block;
		}
		
		#vote-map {
			margin: auto;
		}
	</style>
	<script type="text/javascript" src="/static/lib/d3/d3.v2.js"></script>
	<script type="text/javascript" src="/static/js/ivoted.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery/jquery.cycle.all.js"></script>
	<link type="text/css" href="/static/css/ivoted.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
	<div id="vote-meter">
		<div class="candidate-box">
			<img src="https://twimg0-a.akamaihd.net/profile_images/2325704772/wrrmef61i6jl91kwkmzq.png" width="160" height="160">
			<div>@BarackObama</div>
			<div> <div id="obama-vote">-</div> </div>
		</div>
	
		<div id="vote-bar">
		</div>
		
		<div class="candidate-box">
			<img src="https://twimg0-a.akamaihd.net/profile_images/2624978379/chw1hdzozfdew973pvjr.png" width="160" height="160">
			<div>@MittRomney</div>
			<div> <div id="romney-vote">-</div> </div>
		</div>
	</div>
	
	<div id="vote-map">
	
	</div>

	<div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'twithinks'; // required: replace example with your forum shortname
			//var disqus_developer = 1;
			var disqus_url = 'http://twithinks.mit.edu/ivoted';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>

	<div class="container-fluid" style = "width:1100px; margin:auto">
		<div class="row-fluid" style = "margin:auto">
			<div class="span6">
				<h3>I voted for Obama</h3>
				<a class="twitter-timeline" data-dnt=true href="https://twitter.com/search?q=%22voted+for%22+obama" data-widget-id="265841091654324224">Tweets about ""voted for" obama"</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="span6">
				<h3>I voted for Romney</h3>
				<a class="twitter-timeline" data-dnt=true href="https://twitter.com/search?q=%22voted+for%22+romney" data-widget-id="265844840665858048">Tweets about ""voted for" romney"</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
	
				
	<script type="text/javascript">
		var interval = 60 * 1000;
		var bar_w = 400, bar_h = 100;
		var bar_svg = d3.select('#vote-bar').append('svg').attr('width', bar_w).attr('height', bar_h);
		var current = {
			timestamp: Date.now(),
			obama: 50000,
			romney: 40000,
			states: {}
		};
		var next = {
			timestamp: Date.now()+interval,
			obama: 60000,
			romney: 60000,
			states: {}
		};
		var comma = d3.format(',');
		
		function update(current, next) {
			var ct = Date.now();
			var progress = (ct - current.timestamp) / interval;
			console.log(progress);
			var oc = current.obama * (1-progress) + progress * next.obama;
			var rc = current.romney * (1-progress) + progress * next.romney;
			
			update_count(oc, rc);
		}
		
		function update_count(obama, romney) {
			d3.select('#obama-vote').text(comma(obama.toFixed(0)));
			d3.select('#romney-vote').text(comma(romney.toFixed(0)));
			
		}
		
		function update_bar(obama, romney) {
			var total = obama + romney;
			var ow = bar_w * obama / total;
			var rw = bar_w * romney / total;
			
			bar_svg.selectAll('rect').data(gradient).enter().append('rect').attr('class', 'gradient').attr('width', gradient_width).attr('height', gradient_height).attr('fill', function(d) { return d; }).attr('x', function(d, k) {return k*gradient_width;});
		}
		
		var width = 1000, height = 500;
		var box_offset = 15;
		var gradient = ['#9E2017', '#BB4E55', '#d77176', '#e2a6a9', '#eecbcb', '#d2e0ed', '#a4c6e3', '#79a5ca', '#40698B', '#0D406B'];
		var color = d3.scale.quantize().range(gradient);
		var path = d3.geo.path().projection(d3.geo.albersUsa().scale(width).translate([0, 0]));
		var g, c, svgns, box;
		var centered_state, over_state;

		function setup_map() {
			var svg = d3.select('#vote-map').append("svg").attr('width', width).attr('height', height);
			svg.append("rect").attr("width", width)
							  .attr("height", height)
							  .attr("class", "background")
							  .on("click", click_state)
							  .on("mouseover", hover_state);
			g = svg.append('g').attr("transform", "translate(" + width/2 + "," + height/2 + ")").append("g").attr("id", "map");	
			c = svg[0][0];
			svgns = c.namespaceURI;
			
			box = $('<div>').attr('id', 'map-tooltip').attr('class', 'hover-box')
				.append($('<div>').attr('id', 'state-name'))
				.append($('<div>').attr('class', 'candidate-row')
					.html('Obama: <span id="obama-count"></span> mentions'))
				.append($('<div>').attr('class', 'candidate-row')
					.html('Romney: <span id="romney-count"></span> mentions'))
				.hide();
				
			$(document).ready(function(){
				$(document.body).append(box);
			});
			
			var ss = g.selectAll("g").data(map_json.features).enter()
						.append("g").attr("class", "state")
						.attr("id", function(d){return d.properties.abbreviation;})
						.on("click", click_state)
						.on("mouseover", hover_state)
						.on("mousemove", move_box)
						.on('mouseout', function() {box.hide();});
			ss.append("path").attr("d", path);
			// legend
			var gradient_width=40, gradient_height=10, gradient_count=gradient.length;
			var legend = svg.append('g').attr('id', 'legend').attr('transform', 'translate('+(width/2-gradient_width*gradient_count/2)+','+(height-gradient_height-10)+')');
			legend.selectAll('rect').data(gradient).enter().append('rect').attr('class', 'gradient').attr('width', gradient_width).attr('height', gradient_height).attr('fill', function(d) { return d; }).attr('x', function(d, k) {return k*gradient_width;});
			legend.append('text').text('More Romney Mentions').attr('x', -155).attr('y', 10);
			legend.append('text').text('More Obama Mentions').attr('x', gradient_width*gradient_count+10).attr('y', 10);
		}

		function color_states(json) {
			for (state in json){
				var item = json[state];
				g.select("#" + state).select("path").style("fill", color(item.obama/(item.obama+item.romney)));
			}
		}

		function click_state(d) {
			var x = 0, y = 0, k = 1;
			if (d && centered_state != d) {
				var centroid = path.centroid(d);
				x = -centroid[0];
				y = -centroid[1];
				// zoom level depends on the size of the state, make an exception for Hawaii (small area but large span)
				if (d.properties.name == "Hawaii") {
					k = 4;
				} else {
					k = 200*Math.sqrt(1/(path.area(d) + 20000/path.area(d)));
				}
				centered_state = d;
				update_state_tweet(current_time, d.properties.abbreviation);
			} else {
				centered_state = null;
				perform(update_tweet, 'tweet'+current_time, "/tweet.json?topic=mention&time=" + current_time);
			}
			g.selectAll("g.state").classed("deactive", centered_state && function(d) { return d != centered_state; });
			g.transition().duration(1000).attr("transform", "scale(" + k + ")translate(" + x + "," + y + ")").style("stroke-width", 1.5 / k + "px");
			
			if (centered_state != null) {
				$('#detail_name').text("Twitter mentions @" + d.properties.name);
				$('#detail').unbind();
				$('#detail').on('hide', function () {
					centered_state_state = null;
					perform(update_tweet, 'tweet'+current_time, "/tweet.json?topic=mention&time=" + current_time);
					g.selectAll("g.state").classed("deactive", true);
					var x = 0, y = 0, k = 1;
					g.transition().duration(1000).attr("transform", "scale(" + k + ")translate(" + x + "," + y + ")").style("stroke-width", 1.5 / k + "px");
					$('#tweet').cycle('resume');
				});
				$('#detail').on('shown',function(){
					draw_state_detail_chart (centered_state);
				});
				setTimeout(function(){
					$('#detail').modal('show');
					$('#tweet').cycle('pause');
				}, 200);
			}
		}

		function hover_state(d) {
			over_state = null;
			if (d) {
				over_state = d;
				// switch place to be drawn on top
				var region = g.select('#'+d.properties.abbreviation)[0][0];
				region.style.cursor = 'hand';
				$(region).parent().append(region);
				// show a hover box next to the cursor
				$('#state-name').text(d.properties.name);
				// calculate stats
				var obama_count  = mention_json[current_time][d.properties.abbreviation].obama;
				var romney_count = mention_json[current_time][d.properties.abbreviation].romney;
				$('#obama-count').text(obama_count);
				$('#romney-count').text(romney_count);
				move_box();
				box.show();
				//update_state_tweet(current_time, d.properties.abbreviation);
			}
			g.selectAll("g.state").classed("hover", over_state && function(d) { return d == over_state; });
		}

		function draw_state_detail_chart(d){
			var state = d.properties.abbreviation;
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Date');
			data.addColumn('number', 'Obama');
			data.addColumn('string', 'title1');
			data.addColumn('string', 'text1');
			data.addColumn('number', 'Romney');
			data.addColumn('string', 'title1');
			data.addColumn('string', 'text1');
			for (var i in times){
				var time = times[i];
				var obama_count  = mention_json[time][state].obama;
				var romney_count = mention_json[time][state].romney;
				time = parseInt(time);
				if (news_json[time] == null){
					data.addRow([new Date(time * 1000), obama_count, null, null, romney_count, null, null]);	
				} else{
					var parts = news_json[time].split(':');
					if (parts[0] == 'O'){
						data.addRow([new Date(time * 1000), obama_count, 'Obama', parts[1], romney_count, null, null]);
					} else if (parts[0] == 'R') {
						data.addRow([new Date(time * 1000), obama_count, null, null, romney_count, 'Romney', parts[1]]);
					} else {
						data.addRow([new Date(time * 1000), obama_count, parts[1], null, romney_count, null, null]);	
					}
				}
			}
			var annotatedtimeline = new google.visualization.AnnotatedTimeLine(document.getElementById('detail_chart'));
			google.visualization.events.addListener(annotatedtimeline, 'select', function(){
				var time = times[annotatedtimeline.getSelection()[0].row];
				update_state_detail_tweet(time, state);
			}); 
			annotatedtimeline.draw(data, {'displayAnnotations': true, 'zoomStartTime': new Date(1343793600000)});
			update_state_detail_tweet(current_time, state);
		}

		function update_state_detail_tweet(time, state){
			perform(update_detail_tweet, 'tweet'+ time + state, "/tweet.json?topic=mention&time=" + time + '&state=' + state);
		}

		function update_state_tweet(time, state){
			perform(update_tweet, 'tweet'+ time + state, "/tweet.json?topic=mention&time=" + time + '&state=' + state);
		}

		function move_box() {
			var m = d3.mouse(document.body);
			box.css('left', m[0]+box_offset).css('top', m[1]+box_offset);
		}
	</script>
{% endblock %}
