#disqus_thread {
	width: 1000px;
	margin: 0 auto 20px auto;
}

.social {
  display: inline-block;
  width: 88px;
}

body {
	padding-top: 60px;
	background-image: url('/static/img/bgnoise.png');
}

.shadowlight {
	-webkit-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
	-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
}

.contentblock {
	background: white;
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	width:1000px;
	margin:auto;
  	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
}

#tagline {
	font-size: 24px;
	font-weight: bolder;
	margin-bottom: 10px;
}

#vote-meter {
	margin: 10px auto 10px auto;
	width: 1000px;
	text-align: center;
}

.candidate-box {
	display: inline-block;
	margin: 10px;
	overflow: show;
	width: 250px;
}

.candidate-box img {
	display: block;
	margin: 0 auto 5px auto;
}

.candidate-box img+div{
	
}

#east-vote, #west-vote {
	display: inline-block;
	font-size: 4em;
	font-weight: 700;
	margin: 20px;
}

#east-vote {
	color: #0D406B;
}

#west-vote {
	color: #9E2017;
}

#vote-bar-box {
	display: inline-block;
	position: relative;
	bottom: 65px;
}

#vote-bar-box div:first-child {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 50px;
}

#vote-bar {
	margin: auto 10px auto 10px;
}

#vote-bar line {
	z-index: 10;
}

#vote-map {
	margin: auto;
	width:1000px;
	height:550px;
	margin-top:30px;
	margin-bottom:30px;
}

.state path {
	opacity: 1;
	fill: #aaa;
	stroke: #fff;
	stroke-width: 1.5px;
	transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
}

.hover path {
	stroke: #888;
}

.background {
	fill: none;
	pointer-events: all;
}

/* hover-box */
.hover-box {
	background-color: white;
	border-radius: 3px;
	border: 2px solid #aaa;
	position: absolute;
	padding: 10px;
	width: 180px;
}

#state-name {
	font: bold 14px sans-serif;
	width: 100%;
	border-bottom: 2px solid #ddd;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

#east-count, #west-count {
	display: inline;
}