body {
	padding-top: 60px;
	height:100%;
  	background-image: url('../img/bgnoise.png');
}

.shadowlight {
	-webkit-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
	-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
}

.contentblock {
	background: white;
	padding: 30px;
	width:1000px;
	margin:auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
