body {
	padding-top: 60px;
	background-image: url('../img/bgnoise.png');
}

.background {
	fill: none;
	pointer-events: all;
}

#page {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	width: 1000px;
	margin-left: 100px;
	margin-top: 0px;
}

.black{
	color: #999;
}

.active_menu_element {
	color: #999;
	background-color: green;
}

#myCarousel {
	width: 1000px;
	height:500px;
	margin-left: auto;
  	margin-right: auto;
}

.carousel-control {
	top: 50%
}

#tweet{
	width: 880px;
	margin-left:120px;
	margin-right:auto;
	display:inline-block;
}

#tweet_panel {
	width:1100px;
}

#detail {
	width: 800px;
	left:42%;
	top:42%
}

#detail_chart {
	width: 700px;
	height: 400px;
	margin:auto;
}

#detail_tweet {
	width:700px;
	display:inline-block;
}

#control {
  margin-left: 100px;
  height : 20px;
}

#control div {
  float: left;
  font-family: sans-serif;
}

#slider {
  margin-top: 7px;
  width: 73%;
  max-width: 710px;
  color: #999;
}

#slider+div {
	margin-left: 20px;
}

/* map */
#map_container, #topic_container {
	margin-left:auto;
	margin-right:auto;
  	height: 500px;
}

.state path {
  opacity: 1;
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1.5px;
  transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
}

.hover path {
  stroke: #888;
}

/* hover-box */
.hover-box {
	background-color: white;
	border-radius: 3px;
	border: 2px solid #aaa;
	position: absolute;
	padding: 10px;
	width: 180px;
}

#state-name {
	font: bold 14px sans-serif;
	width: 100%;
	border-bottom: 2px solid #ddd;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

#obama-count, #romney-count {
	display: inline;
}

#control-wrapper {
	margin-bottom: 20px;
}

#disqus_thread {
	width: 1000px;
	margin: 0 auto 20px auto;
}

.footer {
	font-size: 16px;
	margin-bottom: 20px;
}