body {
	padding-top: 60px;
  background-image: url('../img/bgnoise.png');
}

.background {
  fill: none;
  pointer-events: all;
}

#page {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	margin-left: 100px;
	margin-top: 0px
}

.menu_element {
	color: #999;
}

.twitter-share-button {
	margin: 30px;
}

#myCarousel {
	width: 1000px;
	margin-left: auto;
  	margin-right: auto;
}

.carousel-control {
	top: 50%
}

#tweet_container {
	width: 900px;
	margin-left:80px;
	margin-right:auto;
	display:inline-block;
}

#tweet_panel {
	width:1100px;
}

#detail {
	width: 800px;
	left:42%;
	top:42%
}

#detail_chart {
	width: 700px;
	height: 400px;
	margin:auto;
}

#detail_tweet {
	width:700px;
	display:inline-block;
}

#control {
  margin-left: 100px;
  height : 20px;
}

#control div {
  float: left;
  font-family: sans-serif;
}

#slider {
  margin-top: 7px;
  width: 83%;
  max-width: 830px;
  color: #999;
}

/* map */
#map_container, #topic_container {
	margin-left:auto;
	margin-right:auto;
  	height: 500px;
}

.state path {
  opacity: 1;
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1.5px;
  transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
}

.hover path {
  stroke: #888;
}

/* hover-box */
.hover-box rect {
  fill: white;
  stroke: #aaa;
  stroke-width: 3px;
}

.hover-box-title {
  fill: #222;
  font: bold 14px sans-serif;
}

.hover-box-body {
  fill: #444;
  font: 12px sans-serif;
}

#top_rect {
  fill: #40698B;
  stroke: #40698B;
  stroke-width: 1px;
}

#bottom_rect {
  fill: #BB4E55;
  stroke: #BB4E55;
  stroke-width: 1px;
}

#topic_left {
  margin-left:  100px;
}

#topic_right {
  margin-left: 100px;
}