body {
	min-width: 1200px;
	background-image: url('../img/bgnoise.png');
}

.background {
	fill: none;
	pointer-events: all;
}

#page {
	margin: auto;
}

#menu {
	width: 1000px;
	margin: auto;
}

.black{
	color: #999;
}

.active_menu_element {
	color: #999;
	background-color: green;
}

#myCarousel {
	width: 1000px;
  	margin: auto;
}

.carousel-control {
	top: 50%
}

div.label.label-info {
	width: 100px;
}

#tweet{
	margin: 0;
	padding: 0;
	width: 950px;
	display:inline-block;
}

#tweet_panel {
	width: 100%;
}

#detail {
	width: 800px;
	left: 42%;
	top: 42%
}

#detail_chart {
	width: 700px;
	height: 400px;
	margin: auto;
}

#detail_tweet {
	width: 700px;
	display: inline-block;
}

#control {
  margin: 5px auto 10px auto;
}

#control div {
  display: inline-block;
  font-family: sans-serif;
}

#slider {
  margin-top: 7px;
  width: 73%;
  max-width: 710px;
  color: #999;
}

#slider+div {
	margin: 0 20px 9px 20px;
}

#myCarousel {
}

/* topic */
.topic-title {
	margin: 0 20px 0 20px;
	display: inline;
}

#topic-graph {
	height: 450px;
}

#topic_obama, #topic_romney {
	display: inline-block;
	width: 45%;
	height: 100%;
}

#topic_container {
	text-align: center;
}

/* realtime */
#realtime-control {
	width: 800px;
	margin: auto;
}

/* map */
#map_container, #topic_container {
	margin-left:auto;
	margin-right:auto;
}

.state path {
  opacity: 1;
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1.5px;
  transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out, stroke 0.4s ease-in-out, fill 0.5s ease-in-out;
}

.hover path {
  stroke: #888;
}

/* index */
#index_panel {
	margin: auto;
	width: 800px;
	height: 500px;
}

/* hover-box */
.hover-box {
	background-color: white;
	border-radius: 3px;
	border: 2px solid #aaa;
	position: absolute;
	padding: 10px;
	width: 180px;
}

#state-name {
	font: bold 14px sans-serif;
	width: 100%;
	border-bottom: 2px solid #ddd;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

#obama-count, #romney-count {
	display: inline;
}

#control-wrapper {
	width: 1000px;
	margin: 10px auto 20px auto;
}

#disqus_thread {
	width: 1000px;
	margin: 20px auto 20px auto;
}

.footer {
	font-size: 16px;
	margin-bottom: 20px;
}